// Define common button styles as variables
$button-padding: 8px 14px;
$button-border-radius: 0px;
$button-font-size: 14px;
$button-line-height: 24px;

// Define mixin for common button styles
@mixin button-styles {
  padding: $button-padding;
  border-radius: $button-border-radius;
  font-size: $button-font-size;
  line-height: $button-line-height;
  font-family: $headings-font-family;
  border: 0;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

// Define button types
$primary-button-color: $primary;
$secondary-button-color: #f8b940;
$warning-button-color: #e74c3c;

// Mixin for primary button
@mixin primary-button {
  @include button-styles;
  background-color: $primary-button-color;
  color: $secondary-button-color;
}

// Mixin for secondary button
@mixin secondary-button {
  @include button-styles;
  background-color: $secondary-button-color;
  color: $primary;
}

// Mixin for warning button
@mixin warning-button {
  @include button-styles;
  background-color: $warning-button-color;
}

// Bootstrap-like button classes
.btn {
  @include button-styles;
}

.btn-primary, .button-primary {
  @include primary-button;

  &:hover {
    background-color: $secondary-button-color;
    color: $primary-button-color;
  }
}

.btn-secondary, .button-secondary {
  @include secondary-button;

  &:hover {
    color: $secondary;
    background-color: $primary-button-color;
  }
}

.btn-warning {
  @include warning-button;
}
